<div class="events">
  <div class="events__title events__title title--lg">
    <span class="title">События</span>
  </div>
  <form action="" class="events-wrapper"></form>
  <div class="events__period">
    <span class="event-period">Все</span>
    <span class="event-period">Ближайшие</span>
    <span class="event-period">Прошедшие</span>
  </div>
  <div class="events__more">
    <label class="check-box">
      <input class="check-box__item" type="checkbox" />
      <span class="check-box__style check-box__style--darklblue"></span>
      <span class="check-box__text check-box__text--online">онлайн</span>
    </label>
    <label class="check-box">
      <input class="check-box__item" type="checkbox" />
      <span class="check-box__style check-box__style--heart"><i class="fa-solid fa-heart check-heart"></i></span>
      <span class="check-box__text">только избранное</span>
    </label>
  </div>
</div>
<div class="location">
  <div class="location__title location__title title--lg">
    <span>Где</span>
  </div>
  <select class="location-select">
    <option value="russia" selected>Вся Россия</option>
    <option value="moscow">Москва</option>
    <option value="petersburg">Санкт-Петербург</option>
    <option value="khabarovsk">Хабаровск</option>
  </select>
  <span class="info">Показаны мероприятия во всех регионах с сентября 2024 года во всех тематиках</span>
</div>
