@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/fonts/museosanscyrl-500.woff2") format("woff2"), url("../fonts/fonts/museosanscyrl-500.woff?#iefix") format("woff"), url("../fonts/fonts/museosanscyrl-500.ttf") format("truetype"); 
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/fonts/museosanscyrl-700.woff2") format("woff2"), url("../fonts/fonts/museosanscyrl-700.woff?#iefix") format("woff"), url("../fonts/fonts/museosanscyrl-700.ttf") format("truetype"); 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/fonts/museosanscyrl-900.woff2") format("woff2"), url("../fonts/fonts/museosanscyrl-900.woff?#iefix") format("woff"), url("../fonts/fonts/museosanscyrl-900.ttf") format("truetype"); ;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


// @font-face {
// 	font-family: "LithosPro-Regular";
// 	src: url("../fonts/LithosPro-Regular/LithosPro-Regular.eot");
// 	src: url("../fonts/LithosPro-Regular/LithosPro-Regular.eot?#iefix")format("embedded-opentype"),
// 	url("../fonts/LithosPro-Regular/LithosPro-Regular.woff") format("woff"),
// 	url("../fonts/LithosPro-Regular/LithosPro-Regular.ttf") format("truetype");
// 	font-style: normal;
// 	font-weight: normal;
// }

// .custom-font {
//   font-family: "MuseoSansCyrl", Arial, sans-serif;
// }

body {
  font-family: "MuseoSansCyrl", Arial, sans-serif;
  background-color: #f5f9fff1;
}

/* header */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellowgreen;
}

.page {
  max-width: 393px;
  height: 852px;
  background-color: pink;
  padding: 0 27.5px;
}

.header {
  background-color: $primaryBlue;
  border-radius: 0 0 15px 15px;
  margin-bottom: 20px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 15px 20px 27px;
  }
}

/* Бургер меню */

.header__burger {
  position: relative;
  display: block;
  width: 20px;
  height: 18px;
  margin-right: 20px;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 8px;
  background-color: #fff;
  position: absolute;
  left: 0;

  &--first {
    top: 0;
  }

  &--second {
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 6px;
    margin-right: 6px;
  }

  &--third {
    bottom: 0;
  }
}

/* main */

.main {
  padding: 0 9.5px;
}

.breadcrumbs {
  font-size: 10px;
  color: $primaryBlue;
  padding: 5px;
  margin-bottom: 5px;
}
.breadcrumb__link--active {
  color: $primaryOrange;
}
/* .breadcrumb__link:visited {
  color: $primaryOrange;
}
.breadcrumb__link:hover {
  color: $primaryBlue;  
} */

.title-wrapper {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;

  &__title {
    font-size: 14px;
    font-weight: 900;
    color: $primaryBlue;
    margin-right: 10px;
  }
}
.select-wrapper {
  position: relative;
  color: $primaryBlue;
}
.select-wrapper::after {
  content: "";
  position: absolute;
}

select {
  width: 67px;
  padding: 4px;
  border-color: $primaryWhite;
  background-color: $primaryWhite;
  border-radius: 3px;
  box-shadow: 0 0 5px $primaryBlue;
}

.calendar-wrapper {
  background-color: $primaryBlue;
  border-radius: 10px 10px 10px 10px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__body {
    text-align: center;
    padding: 20px;
  }
}

.breadcrumbs {
  display: flex;
}

/* Календарь */

.calendar {
  border-bottom: 1px solid $primaryWhite;
  padding: 10px 20px 20px 20px;
  color: $primaryWhite;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 23px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 80%;
      top: 35px;
      background-color: $primaryWhite;
      opacity: 40%;
      text-align: center;
      top: 35px;
      left: 22px;
    }
  }
  /* &__current-date {
    color: $primaryWhite;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
  } */

  &__months-wrapper {
    display: flex;
  }

  &__months {
    // display: flex;
  }

  &__months-item {
    display: inline-block;
    width: 30%;
    font-size: 14px;
    padding: 5px 6px;
    opacity: 0.5;
  }

  &__months-item--active {
    opacity: 1;
    font-weight: 700;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__weeks {
    display: flex;
    flex-wrap: wrap;
  }

  &__week {
    position: relative;
    width: calc(100% / 7);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 12px;
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
  }

  &__day {
    display: flex;
    position: relative;
    width: calc(100% / 7);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 12px;
    cursor: pointer;
    z-index: 1;
  }

  &__day::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    top: 50%;
    // left: 50%;
    left: calc(50% - 13px);
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &__day:not(.calendar__day--inactive):not(.calendar__day--current):hover::before {
    background-color: #aaaaaa;
  }

  &__day--current::before {
    background-color: $primaryRed;
  }

  &__day--inactive {
    color: #aaaaaa;
  }

  &__day-value {
    margin-right: 2px;
  }

  &__day-events {
    display: flex;
    flex-wrap: wrap;
    width: 20px;
    justify-content: center;
  }
  &__day-event {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: 1.18px;

    &--green {
      background-color: $primaryGreen;
    }

    &--orange {
      background-color: $primaryOrange;
    }

    &--red {
      background-color: $primaryRed;
    }

    &--yellow {
      background-color: $primaryRed;
    }

    &--yellow {
      background-color: $primaryYellow;
    }

    &--blue {
      background-color: $secondaryBlue;
    }

    &--violet {
      background-color: $primaryViolet;
    }
  }
}

.date {
    color: $primaryWhite;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}
/* Чекбоксы */

.themes {
  border-bottom: 1px solid $primaryWhite;
  padding: 10px 20px 20px 20px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.check-box {
  display: flex;
  align-items: center;
  width: 50%;
  color: $primaryWhite;
  font-size: 10px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1%;
  margin-bottom: 11px;
}

.input-item {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin-right: 6px;
  padding-left: 22px;
}

.check-style {
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid $primaryWhite;
  margin-left: 0px;
  margin-right: 22px;
}

.check-style-orange::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: $primaryOrange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.check-style-green::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: $primaryGreen;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.check-style-yellow::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: $primaryYellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.check-style-violet::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: $primaryViolet;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.check-style-red::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: $primaryRed;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.check-style-blue::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: $secondaryBlue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-item:checked + .check-style {
  box-shadow: 0 0 0 2px $primaryWhite;
}

.item-text {
  margin-left: 20px;
}

/* Окончание чекбокса*/

/* События */

.events {
  border-bottom: 1px solid $primaryWhite transparent 0.4;
  padding: 10px 20px 20px 20px;

  &__period {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    margin-bottom: 10px;
  }

  &__more {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 10px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1%;
  }
}
.event-more {
}

.event-period {
  display: block;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  color: $primaryWhite;
  border: 2px solid $primaryBlue;
  border-radius: 4px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.event-period:hover {
  border: 2px solid $primaryOrange;
}

.event-favorite {
  display: flex;
  align-items: center;
  justify-content: start;
  color: $primaryWhite;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  margin-bottom: 10px;
}

.location {
  padding: 10px 20px 20px 20px;
}

.title--lg {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  color: $primaryWhite;
  margin-bottom: 10px;
}

.dropdown {
  display: flex;
  flex-wrap: wrap;
  width: 148px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: $primaryBlue;
  color: $primaryWhite;
  box-shadow: 0px 0px 10px 0px rgba(5, 70, 120, 0.15);
  margin-bottom: 20px;
}

.info {
  max-width: 278px;
  color: $primaryWhite;
  font-size: 9px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0%;
}
