<div class="main-container">
            <ul class="breadcrumbs">
              <li class="breadcrumb__item"><a class="breadcrumb__link breadcrumb__link--active" href="#">Главная / </a></li>
              <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Календарь мероприятий</a></li>
            </ul>
            <section class="title-wrapper">
              <h3 class="title-wrapper__title">Календарь мероприятий</h3>
              <div class="select-wrapper">
                <select class="year-select">
                  <option value="2020">2022</option>
                  <option value="2021">2023</option>
                  <option value="2022" selected>2024</option>
                  <option value="2023">2025</option>
                </select>
              </div>
            </section>