<div class="themes">
  <h3 class="themes__title title--lg">Тематики</h3>
  <div class="themes__list">
    <label class="check-box">
      <input class="check-box__item" type="checkbox" />
      <span class="check-box__style check-box__style--orange"></span>
      <span class="check-box__text">Фудшеринг</span>
    </label>
    <label class="check-box">
      <input class="check-box__item" type="checkbox" />
      <span class="check-box__style check-box__style--green"></span>
      <span class="check-box__text">Народный обед</span>
    </label>
    <label class="check-box">
      <input class="check-box__item" type="checkbox" />
      <span class="check-box__style check-box__style--yellow"></span>
      <span class="check-box__text">Марафон</span>
    </label>
    <label class="check-box">
      <input class="check-box__item" type="checkbox" />
      <span class="check-box__style check-box__style--violet"></span>
      <span class="check-box__text">Лекции</span>
    </label>
    <label class="check-box">
      <input class="check-box__item" type="checkbox" />
      <span class="check-box__style check-box__style--red"></span>
      <span class="check-box__text">Корзина доброты</span>
    </label>
    <label class="check-box">
      <input class="check-box__item" type="checkbox" />
      <span class="check-box__style check-box__style--blue"></span>
      <span class="check-box__text">Онлайн трансляции</span>
    </label>
  </div>
</div>
